page-bill {
  .item-md{
    height: 80px;
    background-color: #093954 !important;
    color: #fff;
  }

  .passado{
    color: #99e0e4 !important;
  }

  .anterior{
    color: #13a492 !important;
  }

  .este {
    color: #12b658 !important;
  }

}
