page-home {
  .true {
    background-color: #cccccc !important;
  }
  .text-header {
    text-align: center;
    font-size: 15px;
  }

  .text-header-valor {
    font-size: 20px;
    color: #267ff1;
  }

  .valor-fatura {
    font-size: 15px;
  }

  .valor-fatura-numero {
    font-size: 18px;
    color: #12b658;
  }
}
